<div class="banner container">
  <div class="banner-info">
    <div class="title">
      <h4>Hi, I am <span>Hieu Minh</span> ,</h4>
    </div>
    <div class="title">
      <h4>Web FrontEnd Developer</h4>
    </div>
    <div class="details">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="btn-banner">
      <button>Download CV</button>
    </div>
  </div>
  <div class="banner-avatar">
    <div class="avatar">
      <img
        src="https://scontent.fhan15-1.fna.fbcdn.net/v/t39.30808-6/282625572_728617195256640_5652172666415968506_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=JLxyydHSzr8AX_L-_5e&_nc_ht=scontent.fhan15-1.fna&oh=00_AT9PAZ4Apitp6EoReeDmPI9Km3egUDJcB3LoVzkC4n50RA&oe=62AD7B2B"
        alt=""
      />
    </div>
  </div>
</div>
