<div class="container header">
  <div routerLink="/" class="header-logo">
    <a href="">
      <img
        src="https://cdn.tgdd.vn/GameApp/3/224360/Screentshots/logo-maker-logo-creator-generator-designer-224360-logo-11-06-2020.png"
        alt=""
      />
    </a>
  </div>
  <div class="header-menu">
    <a class="header-a" routerLink="work">Works</a>
    <a class="header-a" routerLink="blog">Blog</a>
    <a class="header-a" routerLink="/">Contact</a>
    <div class="logout" (click)="onLogout()">
      <i nz-icon nzType="poweroff" nzTheme="outline"></i>
    </div>
  </div>
</div>
<div class="container header-mobile">
  <i nz-icon nzType="menu" nzTheme="outline"></i>
</div>
