<div class="work-detail container">
    <div class="project-main">
        <div class="project-items">
            <div class="project-item-avatar">
                <img src="https://res.cloudinary.com/dzroyn2i4/image/upload/v1649561706/car/Screenshot_2022-04-10_103413_c7g54q.png"
                    alt="">
            </div>
            <div class="project-item-content">
                <div class="project-items-title">
                    <h4>Designing Dashboards with usability in mind</h4>
                </div>
                <div class="project-item-info">
                    <div class="date">
                        2020
                    </div>
                    <div class="category">
                        Dashboard
                    </div>
                </div>
                <div class="project-item-details">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
        </div>
        <div class="project-items-sub">
            <div class="project-items-sub-title">
                <h1>
                    Heading 1
                </h1>

            </div>
            <div class="project-items-sub-desc">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="project-items-sub-img">
            <img src="https://images.unsplash.com/photo-1644982647708-0b2cc3d910b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=700&q=60" alt="">
            </div>
        </div>
    </div>
</div>